{% extends 'houses/base.html' %}
{% load static %}

{% block title %}Messages{% endblock %}
{% block css %}
.body{
  position:absolute;
bottom:100%;
}
{% endblock %}
{% block content %}
  <main id="main" style="position:relative;top:-100px;">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
    </section><!-- End Intro Single -->
<h1>Number of messages : {{all_msgs.count}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Project</th>
      <th scope="col">Content</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for msg in all_msgs %}
    <tr>
      <td>{{msg.id}}</td>
      <td>{{msg.user_name}}</td>
      <td>{{msg.email}}</td>
      <td style="width:100px">{{msg.project}}</td>
      <td style="font-weight:bold;">{{msg.content}}</td>
      <td>{{msg.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </main><!-- End #main -->
{% endblock %}