{% extends 'houses/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{agent.name}}</h1>
              <span class="color-text-a">Agent Immobiliari</span>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Intro Single -->
    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <img src="{{agent.img.url}}" alt="" class="agent-avatar img-fluid">
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d">{{agent.name}}

                      </h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <p class="content-d color-text-a">
                      Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                      Vivamus suscipit tortor
                      eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat.
                    </p>
                    <div class="info-agents color-a">
                      {% if agent.phone %}
                      <p>
                        <strong>Phone: </strong>
                        <span class="color-text-a"> {{agent.phone}} </span>
                      </p>
                      {% endif %}
                      {% if agent.email %}
                      <p>
                        <strong>Email: </strong>
                        <span class="color-text-a"> {{agent.email}}</span>
                      </p>
                      {% endif %}
                      {% if agent.skype %}
                      <p>
                        <strong>skype: </strong>
                        <span class="color-text-a"> {{agent.skype}}</span>
                      </p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="socials-footer">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="https://www.facebook.com/" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://www.twitter.com/" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://www.instagram.com/" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d">My Properties ({{agent.house_set.count}})</h3>
            </div>
          </div>
          <div class="row property-grid grid">
            <div class="col-sm-12">
              <div class="grid-option">


              </div>
            </div>

          </div>
        </div>
      </div>
    </section><!-- End Agent Single -->

  </main><!-- End #main -->
{% endblock %}