{% extends 'houses/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<section class="intro-single">
    </section><!-- End Intro Single-->

<form method="POST" style="margin:0 auto;text-align:center;">
    {% csrf_token %}


    <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Username</label>
            <input type="text" style="width:50%;margin:0 auto;" name="username" placeholder="Enter Your username" id="form2Example1" class="form-control" />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" style="width:50%;margin:0 auto;" name="password1" placeholder="Enter Your password" class="form-control" />
      </div>
    <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password confirmation</label>
            <input type="password" style="width:50%;margin:0 auto;" name="password2" placeholder="Enter Your password again" class="form-control" />
      </div>

    <input type="submit">
</form>
{% endblock %}