{% extends 'houses/base.html' %}
{% load static %}

{% block title %}Search Results{% endblock %}

{% block content %}


  <main id="main">
</div>

    <!-- ======= Intro Single ======= -->

    <section class="intro-single">
      <div class="container">
        <div class="row">
            <h4>number of inquiries : {{all_inqures.count}}</h4>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">

            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
            </div>
          </div>


  <table class="table table-bordered" style="width:100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" style="width:100%">Date</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Location</th>
      <th scope="col">Type</th>
      <th scope="col">Buyer Or Seller</th>
      <th scope="col">Max Price</th>
      <th scope="col">Min Size</th>
      <th scope="col">Beds</th>
      <th scope="col">Bathrooms</th>
    </tr>
  </thead>
  <tbody>
  {% for inquiry in all_inqures %}
    <tr>
      <th scope="row"> {{ forloop.counter }}</th>
      <td>{{inquiry.date}}</td>
      <td>{{inquiry.first_name}}</td>
      <td>{{inquiry.last_name}}</td>
      <td>{{inquiry.email}}</td>
      <td>{{inquiry.phone_number}}</td>
      <td>{{inquiry.location}}</td>
      <td>{{inquiry.type}}</td>
      <td>{{inquiry.buyer_or_seller}}</td>
      <td>{{inquiry.max_price}}</td>
      <td>{{inquiry.min_size}}</td>
      <td>{{inquiry.beds}}</td>
      <td>{{inquiry.bathrooms}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
        <ul class="pagination justify-content-end">
{% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?{{request.GET.urlencode}}&page={{page_obj.previous_page_number}}&order_by={{order_value}}" tabindex="-1">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
{% endif %}
    {% for page in page_obj.paginator.page_range %}
          {% if page == page_obj.number %}
                <li class="page-item active">
                  <a class="page-link" href="?{{request.GET.urlencode}}&page={{page}}&order_by={{order_value}}">{{page}}</a>
                </li>
          {% else %}
          <li class="page-item">
                  <a class="page-link" href="?{{request.GET.urlencode}}&page={{page}}&order_by={{order_value}}">{{page}}</a>
                </li>
          {% endif %}
    {% endfor %}

{% if page_obj.has_next %}
                <li class="page-item next">
                  <a class="page-link" href="?{{request.GET.urlencode}}&page={{page_obj.next_page_number}}&order_by={{order_value}}">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
{% endif %}
              </ul>
            </nav>
          </div>
        </div>


      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

{% endblock %}