{% extends 'houses/base.html' %}
{% load static %}

{% block title %}Show All Companies{% endblock %}

{% block content %}
<div style="margin:80px 0;">
  <a class="btn btn-outline-danger" href="{% url 'add_company' %}">Add a new Company</a>
</div>

  <main id="main" style="margin:100px 0;">
<div style="container;display:flex;justify-content:center;align-items:center;">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Logo</th>
      <th scope="col">number of units</th>
    </tr>
  </thead>
  <tbody>
    {% for company in all_companies %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><img style="width:50px;height:50px;" src="{{company.logo.url}}"><a style="color:blue;" href="{% url 'show_single_company' company.id %}">{{company.name}}</a></td>
      <td>{{company.location}}</td>
      <td>LOGO</td>
      <td>{{company.house_set.all.count}}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
  </main><!-- End #main -->

{% endblock %}